.sidebar {
    width: 250px;
    background-color: var(--secondary-color);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  .createList {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
  }
  
  .button {
    background-color: var(--button-color);
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--button-hover-color);
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
      cursor: pointer;

  }
  .listItem:hover{
    color: blueviolet;
  }
  
  .noLists {
    color: var(--primary-color);
    font-style: italic;
  }
  